<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <style>
        table{
            border-collapse: collapse;
        }
        td,th{
            border: 1px solid;
            padding: 5px;
        }
    </style>
</head>
<body>

<h1>Todo List</h1>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>description</th>
        <th>userId</th>
        <th>done</th>
        <th>priority</th>
        <th>createdAt</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>id</td>
        <td>title</td>
        <td>description</td>
        <td>userId</td>
        <td>done</td>
        <td>priority</td>
        <td>createdAt</td>
    </tr>
    </tbody>
</table>
</body>
</html>